### https://raw.github.com/github/gitignore/02950ad8fa2fef265b0a31f4b30ea3a2c0de210e/perl.gitignore

/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/


local
